* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 0px;
}
html {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
h1 {
    font-weight: 300;
    text-transform: uppercase;
}
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Images/hero.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
.row {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 1140;
    margin: 0 auto;
}
.hero-box {
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    word-spacing: 4;
    letter-spacing: 1;
    font-size: 140%;
}
.logo {
    height: 150px;
    width: auto;
    padding-top: 25px;
    padding-left: 200px;
}
.navigation {
    position: absolute;
    right: 5%;
    margin-right: 100px;
}
.navigation-item {
    margin-right: 50px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navigation-item:hover {
    border-bottom: 2px solid rgb(230, 126, 34);
}
.btn {
    padding: 10px 30px;
    border-radius: 200px;
    border: 1px solid rgb(230, 126, 34);
}
.button-full {
    background-color: rgb(230, 126, 34);
    color: white;
    text-decoration: none;
}
.button-full:hover {
    background-color: rgb(207, 109, 23);
}
.button-ghost {
    color: rgb(230, 126, 34);
    text-decoration: none;
}
.button-ghost:hover {
    background-color: rgb(207, 109, 23);
    color: white;
}
.orangeLine {
    width: 10%;
    color: rgb(230, 126, 34)
}
.Features {
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgb(100, 100, 100);
    margin-left: 27%;
    margin-right: 27%;
}
h2 {
    font-size: 200%;
    font-weight: 300;
    text-transform: uppercase;
}
p {
    text-align: left;
}
h3 {
    text-align: center;
    font-weight: 300;
}
.basicInfo {
    align-items: left;
    justify-content: left;
    text-align: left;
    padding-top: 50px;
    display: flex;
    width: fit-content;
    margin-left: -22%;
    margin-right: -22%;
}
.info {
    align-items: left;
    justify-content: left;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.infoIcon {
    color: rgb(230, 126, 34);
    font-size: 350%;
    --ionicon-stroke-width: 20px;
}
.favoriteMeals {
    justify-content: center;
    margin-left: -60%;
    margin-top: 50px;
    display: flex;
    width: auto;
    flex-wrap:wrap;
    width: 218.5%;
    background-color: black;
}
.favoriteMeal {
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    opacity: 0.7;
    transition: transform 0.5s, opacity 0.5s;
}
.favoriteMeals div {
    margin-left: 0;
    margin-right: 0;
    width: 25%;
    height: auto;
    overflow: hidden;
}
.favoriteMeal:hover {
    opacity: 1;
    transform: scale(1.00);
}
.HowItWorksContainer {
    font-size: 95%;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 600px;
}
.HowItWorks {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-top: 10px;
    color:rgb(100, 100, 100);
    max-width: 1140px;
}
.HowItWorksContent {
    padding-top: 50px;
    background-color: rgb(240, 240, 240);
    display: flex;
}
.Phone {
    background-color: rgb(240, 240, 240);
    width: 40%;
    margin-left: 50px;
    float: left;
}
.Phone img {
    background-color: rgb(240, 240, 240);
    width: 40%;
    height: auto;
    margin-left: 250px;
}
.stepList {
    padding-left: 50px;
    padding-top: 25px;
    width: 50%;
    color: rgb(100, 100, 100);
}
.stepList p {
    padding-bottom: 50px;
}
.stepList h5 {
    font-weight: 300;
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}
.appIcons {
    justify-content: left;
    float: left;
}
.appIcons a {
    height: 50px;
    width: auto;
    padding-right: 10px;
}
.appIcons img {
    height: 50px;
    width: auto;
    padding-right: 10px;
}
.Cities {
    color: rgb(100, 100, 100);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-top: 50px;
    max-width: 1140px;
}
.CitiesFlexbox {
    padding-top: 25px;
    display: flex;
    max-width: 1140px;
    justify-content: center;
}
.Place {
    width: 20%;
    margin-left: 40px;
    margin-right: 40px;
}
.Place img {
    height: 166px;
    width: 250px;
}
.Place ion-icon {
    color: rgb(230, 126, 34);
    padding-right: 10px;
}
.Place a {
    color: rgb(230, 126, 34);
}
.Place h3 {
    justify-content: left;
    align-items: left;
    text-align: left;
    padding-bottom: 5px;
}
.People {
    display: flex;
}
.Chefs {
    display: flex;
}
.Twitter {
    display: flex;
}
blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}
blockquote::before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}
.Testimonials {
    padding-top: 50px;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 25px;
}
.TestimonialContainer {
    width: 100%;
    margin: 0px;
    margin-top: 50px;
    padding-top: 75px;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("Images/back-customers.jpg");
    background-size: cover;
}
.Testimonial img {
    border-radius: 50%;
    height: 45px;
}
.Testimonial {
    text-align: left;
    justify-content: left;
    margin-left: 5px;
    margin-bottom: 10px;
    top: 10px;
}
.Testimonial cite {
    display: flex;
    justify-content: left;
}
cite p {
    padding-top: 7px;
    padding-left: 5px;
}
.TestimonialTitle {
    text-align: center;
}
h2::after {
    display: block;
    height: 2px;
    width: 100px;
    background-color: rgb(230, 126, 34);
    content: " ";
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}
.SignUp {
    padding-top: 50px;
    color:rgb(100, 100, 100);
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.SignUpOption h3 {
    align-items: left;
    text-align: left;
}
.SignUpOptions {
    display: flex;
    justify-content: center;
}
.SignUpOption {
    background-color: #fcfcfc;
    margin: 25px;
    box-shadow: 0 2px 2px #cac5c5;
    border-bottom: 1px solid #e8e8e8;
}
.Box1 {
    padding-top: 25px;
    padding-left: 10px;
    float: left;
    padding-right: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
    height: 150px;
    margin-bottom: 5px;
}
.price {
    color:rgb(230, 126, 34);
    font-size: 250%;
    font-weight: 100;
}
.price span {
    font-size: 40%;
}
.Box2 {
    justify-content: left;
    align-items: left;
    text-align: left;
    margin-right: 50px;
    width: fit-content;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 25px;
}
.Box2 div {
    padding-top: 10px;
}
.Box2 div ion-icon{
display: inline-block;
width: 30px;
text-align: center;
color: #e67e22;
font-size: 120%;
line-height: 120%;
vertical-align: middle;
margin-top: -4px;
}
.hidden {
    color: white;
}
.Box3 {
    height: fit-content;
    padding-bottom: 25px;
}
.Contact {
    text-align: center;
    padding-top: 25px;
    color: rgb(100, 100, 100);
}
.ContactUs {
    text-align: left;
    width: 60%;
    margin-left: 35%;
}
#name {
    margin-top: 20px;
    margin-left: 150px;
    width: 350px;
}
#email {
    margin-top: 20px;
    margin-left: 155px;
    width: 350px;
}
#dropdown {
    margin-top: 20px;
    margin-left: 30px;
    width: 200px;
    width: 350px;
}
#check {
    margin-top: 20px;
    margin-left: 100px;
}
#message {
    margin-top: 20px;
    margin-left: 85px;
    padding-bottom: 50px;
    width: 350px;
    color: rgb(100, 100, 100);
    font-family: 'Lato', sans-serif;
    resize: none;
}
#messageLabel {
    padding-top: 15px;
}
.messageForSubmit {
    display: flex;
}
#submit {
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 25px;
}
input:focus {
    outline: none;
}
textarea:focus {
    outline: none;
}
select:focus {
    outline: none;
}
.footer {
    margin-top: 75px;
    background-color: rgb(51, 51, 51);
    color: rgb(114, 114, 114);
    text-decoration: none;
    padding-bottom: 50px;
}
.footerLinks {
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}
.footer a {
    text-decoration: none;
    color: rgb(114, 114, 114);
}
.leftSide {
    margin-left: 25px;
}
.leftSide:hover {
    color: white;
}
.rightSide {
    justify-content: right;
    align-items: right;
    text-align: right;
    margin-right: 10px;
    font-size: 150%;
}
.Spacer {
    margin-right: 500px;
}
#facebook:hover {
    color: rgb(59, 89, 152)
}
#twitter:hover {
    color: rgb(98, 163, 213)
}
#google:hover {
    color: rgb(221, 75, 57);
}
#instagram:hover {
    color: rgb(188, 42, 141)
}
.builtwith {
    text-align: center;
    padding-top: 50px;
}